
@media screen and (max-width: 1024px){
    .mosaico-single-social{
        float: left;
        width: calc( 100% / 6);
        padding-top: calc( 100% / 6);
        border: 6px solid white;
        background-color: rgb(111, 111, 111);
    
    }

    .mosaico-social > div:nth-of-type(1n + 7){
        display: none;
    }
}

@media screen and (max-width: 768px) {

    nav.menu-desktop{
        display: none;
    }

    header nav.menu-mobile{
        display: block;
    }

    section.servicos  .container{
        flex-direction: column;
    }

    section.servicos > .container .box-servico:nth-of-type(1){
        width: 90%;
        max-width: 350px;
        padding: 30px 2%;

    }
    
    section.servicos > .container .box-servico:nth-of-type(2){
        width: 94%;
        max-width: 380px;
        padding: 60px 2%;
        background-image: none;
    }
    
    
    section.servicos > .container .box-servico:nth-of-type(3){
        width: 90%;
        max-width: 350px;
        padding: 30px 2%;
    }

    section.perfil-container .perfil-wraper2{
        height: auto;
        position: static;
        text-align: center;
        display: inline-block;
    }

    section.perfil-container .perfil-wraper{
        padding: 0px;
    }

    section.perfil-container .img-perfil{
        width: 50%;
        padding-top: 70%;
        display: inline-block;
        height: 100%;
        background-image: url(../imagens/img_perfil.png);
        background-size: 100% 100%;
    }

  
    
    section.perfil-container .texto-perfil{
        text-align: justify;
        display: inline-block;
        width: 100%;
        padding: 5px 30px;
    }
    
      section.videos .container{
        text-align: center;
    }
    
    section.videos .box-video{
        float: none;
        width: 70%;
        display: inline-block;
        padding-top: calc(70% * 0.6);
        border:1px solid rgb(255, 255, 255);
    }

    .mosaico-single-social{
        float: left;
        width: calc( 100% / 3);
        padding-top: calc( 100% / 3);
        border: 6px solid white;
        background-color: rgb(111, 111, 111);
    
    }

    .mosaico-social > div:nth-of-type(1n + 4){
        display: none;
    }
    
}

@media screen and (max-width: 580px) {
    section.perfil-container .img-perfil{
        width: 80%;
        padding-top: 110%;
        display: inline-block;
        height: 100%;
        background-image: url(../imagens/img_perfil.png);
        background-size: 100% 100%;
    }

    .w50{
        width: 100%;
    }
}


