@media screen and (max-width: 768px) {
    section.servicos  .container{
        flex-direction: column;
    }

    section.servicos > .container .box-servico:nth-of-type(1){
        width: 90%;
        max-width: 350px;
        padding: 30px 2%;
        background-color: #576875;
    }
    
    section.servicos > .container .box-servico:nth-of-type(2){
        width: 94%;
        max-width: 380px;
        padding: 60px 2%;
        background-image: none;
        background-color: #688293;
    }
    
    
    section.servicos > .container .box-servico:nth-of-type(3){
        width: 90%;
        max-width: 350px;
        padding: 30px 2%;
        background-color: #576875;
    }
}
