@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
}

.container{
	max-width: 1280px;
	margin: auto;
}

.clear{
	clear:both;
}
/*----------------HEADER DO SITE--------------*/

header{
	padding: 20px 2%;
}

header .logo img{
	float: left;
	width: 236px;
}

header nav.menu-desktop{
	float: right;
	
}

header .menu-desktop ul{
	padding: 8px 0;
	list-style: none;
}

header .menu-desktop ul li{
	float: left;
	font-size: 13px;
	text-transform: uppercase;
	padding: 0 20px;
}

/*---------------mobile----------------*/
header nav.menu-mobile{
	float: right;
	background-image: url(../imagens/menu-mobile.png);
	background-size: 100% 100%;
	cursor: pointer;
	margin-top: 5px;
	width: 30px;
	text-transform: uppercase;
	height: 30px;
	display: none;
}

nav.menu-mobile ul{
	display: none;
	text-align: center;
	z-index: 9;
	width: 100%;
	position: absolute;
	top: 60px;
	right: 0;
	background-color: white;
}

nav.menu-mobile ul li{
	padding: 10px 0;
}


/*----------------------------------------------*/
header li a{
	text-decoration: none;
	color: #b4b4b4;
}
/*----------------------------------------------*/
/*---------------section-mosaico----------------*/

.mosaico-single{
	float: left;
	width: calc(100% / 6);
}

.img-mosaico{
	width: 100%;
	padding-top: 100%;
	background-color: gray;
	border: 5px solid white;
}
/*----------------------------------------------*/
/*-------------------servicos-------------------*/

section.servicos > .container{
	max-width: 800px;
	display: flex;
	align-items: center;
	position: relative;
	top:-30px;
	text-align: center;
}

section.servicos > .container .box-servico{
	background-image: url(../imagens/icone_dente.png);
	background-repeat: no-repeat;
	background-size: 18px 18px;
	background-position: center calc(100% - 5px);

}

section.servicos > .container .box-servico h2{
	color: white;
	font-weight: normal;
	font-size: 15px;
	text-transform: uppercase;
}

section.servicos > .container .box-servico p{
	color: white;
	font-weight: normal;
	font-size: 12px;
	margin-top: 8px;
}


section.servicos > .container .box-servico:nth-of-type(1){
	width: 30%;
	padding: 30px 2%;
	background-color: #576875;
}

section.servicos > .container .box-servico:nth-of-type(2){
	width: 40%;
	padding: 60px 2%;
	background-image: none;
	background-color: #688293;
}


section.servicos > .container .box-servico:nth-of-type(3){
	width: 30%;
	padding: 30px 2%;
	background-color: #576875;
}

/*----------------------------------------------*/
/*-------------------Section-------------------*/

.perfil-container{
	padding: 40px 0;
}

section.perfil-container .container{
	max-width: 800px;
}

section.perfil-container .perfil-wraper{
	padding-top: 60%;
	position: relative;
}

section.perfil-container .perfil-wraper2{
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	align-items: center;
	width: 100%;
	height: 100%;
}

section.perfil-container .img-perfil{
	width: 40%;
	height: 100%;
	background-image: url(../imagens/img_perfil.png);
	background-size: 100% 100%;
}

section.perfil-container .texto-perfil{
	width: 60%;
	padding: 0 30px;
}

section.perfil-container .texto-perfil h2{
	color: #698293;
	font-size: 18px;

}

section.perfil-container .texto-perfil p{
	color: #4b4b4b;
	font-size: 14px;
	margin-top: 0px;
}
/*----------------------------------------------*/
/*-----------------videos------------------*/
section.videos{
	padding: 50px 0;
}


section.videos .box-video{
	float: left;
	width: 33.3%;
	position: relative;
	top: 0px ;
	bottom: 0px;
	padding-top: calc(33.3% * 0.6);
	border:1px solid rgb(255, 255, 255);

}

section.videos iframe{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
/*----------------------------------------------*/

section.tratamento{
	background-color: rgb(228, 228, 228);
}

section.tratamento > h2.titulo{
	color: #698293;
	padding-top: 30px;
	text-align: center;
	font-size: 18px;
}

section.tratamento > .container{
	padding: 60px 0;
}

section.tratamento .tratamento-container{
	float: left;
	width: 33.3%;
}

section.tratamento .tratamento-single{
	padding: 20px;
}

section.tratamento h2{
	font-size: 18px ;
	color: #737373;
}

section.tratamento p{
	font-size: 13px;
	color: #b4b4b4;
}
/*----------------------------------------------*/
section.depoimento > h2{
	color: #698293;
	padding-top: 30px;
	text-align: center;
	font-size: 18px;
}

section.depoimento .container{
	padding: 40px 0px;
	max-width: 400px;
}

section.depoimento .depoimento-single{
	text-align: center;
	margin: 0 2%;
}

.depoimento-single quote{
	font-size: 15px;
	color: #b4b4b4;
}

.depoimento-single .nome-depoimento{
	padding: 15px 0;
}

.nome-depoimento img{
	width: 32px;
	height: 32px;
	border-radius: 16px;
}

.nome-depoimento span{
	font-size: 13px;
	color: #b4b4b4;
	display: inline-block;
	vertical-align: top;
	padding-top: 7px;
}

/*----------------------------------------------*/

.instagram-chamada{
	width: 100%;
	text-align: center;
	padding: 40px 0;
	background-color: #98a5ae;
	color: white;
}

.instagram-chamada{
	line-height: 1.6;
	font-size: 13px;
}

.mosaico-single-social{
	float: left;
	width: calc( 100% / 9);
	padding-top: calc( 100% / 9);
	border: 6px solid white;
	background-color: rgb(111, 111, 111);

}

.facebook-chamada{
	width: 100%;
	text-align: center;
	padding: 40px 0;
	background-color: #576975;
	color: white;
}

.facebook-chamada p{
	line-height: 1.6;
	font-size: 13px;
}

.facebook-chamada a{
	text-decoration: none;
	color: white;
	font-weight: bolder;
}

section.contato{
	padding: 60px 2%;
}

section.contato h2{
	color: #698293;
	text-align: center;
	font-size: 18px;
}

section.contato form{
	width: 100%;
	max-width: 500px;
	margin: 30px auto;
}

.form-wraper{
	float: left;
	padding: 0 10px;
	margin-top: 10px;
}

.w100{
	width: 100%;
}

.w50{
	width: 50%;
}

.form-wraper span{
	font-size: 15px;
	color: #4b4b4b;
}

.form-wraper textarea{
	width: 100%;
	height: 150px;
	margin-top: 8px;
	resize: none;
	border: 1px solid #dadada;
}

.form-wraper input[type=text]{
	width: 100%;
	height: 35px;
	line-height: 35px;
	padding-left: 9px;
	border: 1px solid #dadada;
	margin-top: 8px;
}

.form-wraper input[type=submit]{
	display: inline-block;	
	width: 100px;
	height: 35px;
	padding-top: 8px;
	border: none;
	background-color: #688293;
	color: white;
	cursor: pointer;
	position: relative;
	left: 50%;
	transform: translate(-50%);
}

footer{
	width: 100%;
	padding: 40px 2%;
	background-color: #688293;
}

.footer-block{
	width: 33.3%;
	float: left;
	color: rgb(223, 223, 223);
}

.footer-block h2{
	font-weight: normal;
	padding-bottom: 10px;
	font-size: 20px;
}

.footer-block p{
	font-size: 14px;
	font-weight: normal;
}

.rodape{
	padding: 15px 0;
	text-align: center;
	background-color: #576975;
}


.rodape img{
	width: 70px;
}